$color: yellow;
$back: black;

p {
    color: $color;
    background-color: $back;
    font-size: 1000%;
    text-align: center;
    margin-top: 0;
    
}
#mario {
    display: inline-block;
    width: 30%;
    font-size: 700%;
    margin-right: 52px;
    
}

#marco {
    display: inline-block; 
    float: left;
    width: 30%;  
    font-size: 700%;
    margin-right: 55px;
      
}
#sinji {
    display: inline-block;    
    width: 30%; 
    font-size: 700%;   
}