a {
    text-decoration: none;
    color: white;
    width: 200px;
    display: inline-block;
    background-color: green;
    &:visited {
        background-color: orange;
    }
    &:active {
        background-color: yellow;
    }
    &.important {
        font-weight: bold;
    }
    
    
}
